includes:
    - ./vendor/lemax10/ocstan/extension.neon
parameters:
    paths:
        - ./plugins/{author}
    level: 4
    excludePaths:
        - ./plugins/{author}/*/updates/*
        - ./plugins/{author}/*/tests/*
    checkMissingIterableValueType: false
